@model UnitTestBankWebApplicationWithoutUsers.Models.Account

@{
    ViewBag.Title = "Delete";
}

<h2>Freeze Account</h2>

<h3>Are you sure you want to freeze this account?</h3>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Freeze" class="btn btn-danger" /> |
        @Html.ActionLink("Back to List", "Index")
    </div>
}
